# Directories

/mu-plugins/debug-toolkit/
/plugins/admin-menu-tree-page-view/
/plugins/akismet/
/plugins/announcement-bar/
/plugins/backupbuddy/
/plugins/better-search-replace/
/plugins/classic-editor/
/plugins/dpProEventCalendar/
/plugins/duplicate-post/
/plugins/enable-media-replace/
/plugins/image-optimizer-wd/
/plugins/jetpack/
/plugins/ninja-forms/
/plugins/our-team-enhanced/
/plugins/photo-gallery/
/plugins/query-monitor/
/plugins/quick-pagepost-redirect-plugin/
/plugins/rvg-optimize-database/
/plugins/smartcat_our_team/
/plugins/simple-page-ordering/
/plugins/sucuri-scanner/
/plugins/tablepress/
/plugins/tablepress-responsive-tables/
/plugins/title-remover/
/plugins/wordpress-seo/
/plugins/wp-cerber/
/plugins/wp-migrate-db-pro/
/plugins/wp-migrate-db-pro-media-files/
/plugins/wp-migrate-db-pro-theme-plugin-files/
/plugins/yikes-inc-easy-mailchimp-extender/
/themes/twentyfifteen/
/themes/twentytwenty/
/uploads/backupbuddy_backups/
/uploads/backupbuddy_temp/
/uploads/pb_backupbuddy/
/uploads/securi/*
/uploads/wp-cerber-DPZ78Q4JYG0OKS29UF/
/uploads/wp-migrate-db
/uploads/.htaccess

# Files
db.php
index.php

